### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.idea
/cmake-build-debug/
/.settings/
/Debug/
/rotary-controller-f4.launch
/Release/Core/Src/freertos.cyclo
/Release/Core/Src/gpio.cyclo
/Release/Core/Src/main.cyclo
/Release/Core/Src/Modbus.cyclo
/Release/Core/Src/Ramps.cyclo
/Release/Core/Src/Scales.cyclo
/Release/Core/Src/stm32f4xx_hal_msp.cyclo
/Release/Core/Src/stm32f4xx_hal_timebase_tim.cyclo
/Release/Core/Src/stm32f4xx_it.cyclo
/Release/Core/Src/subdir.mk
/Release/Core/Src/syscalls.cyclo
/Release/Core/Src/sysmem.cyclo
/Release/Core/Src/system_stm32f4xx.cyclo
/Release/Core/Src/tim.cyclo
/Release/Core/Src/UARTCallback.cyclo
/Release/Core/Src/usart.cyclo
/Release/Core/Startup/subdir.mk
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/cmsis_os2.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/port.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_4.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/croutine.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/event_groups.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/list.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/queue.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/stream_buffer.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/tasks.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/timers.cyclo
/Release/makefile
/Release/objects.list
/Release/objects.mk
/Release/rotary-controller-f4.list
/Release/sources.mk
/rotary-controller-f4.bin
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/4.0.2/CMakeASMCompiler.cmake
/CMakeFiles/4.0.2/CMakeCCompiler.cmake
/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/4.0.2/CMakeSystem.cmake
/CMakeFiles/4.0.3-dirty/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/4.0.3-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/4.0.3-dirty/CMakeASMCompiler.cmake
/CMakeFiles/4.0.3-dirty/CMakeCCompiler.cmake
/CMakeFiles/4.0.3-dirty/CMakeCXXCompiler.cmake
/CMakeFiles/4.0.3-dirty/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/4.0.3-dirty/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/4.0.3-dirty/CMakeSystem.cmake
/CMakeFiles/4.1.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/4.1.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/4.1.2/CMakeASMCompiler.cmake
/CMakeFiles/4.1.2/CMakeCCompiler.cmake
/CMakeFiles/4.1.2/CMakeCXXCompiler.cmake
/CMakeFiles/4.1.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/4.1.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/4.1.2/CMakeSystem.cmake
/CMakeFiles/4.2.1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/4.2.1/CMakeASMCompiler.cmake
/CMakeFiles/4.2.1/CMakeCCompiler.cmake
/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/4.2.1/CMakeSystem.cmake
/CMakeFiles/rotary-controller-f4.elf.dir/ASM.includecache
/CMakeFiles/rotary-controller-f4.elf.dir/build.make
/CMakeFiles/rotary-controller-f4.elf.dir/cmake_clean.cmake
/CMakeFiles/rotary-controller-f4.elf.dir/compiler_depend.make
/CMakeFiles/rotary-controller-f4.elf.dir/compiler_depend.ts
/CMakeFiles/rotary-controller-f4.elf.dir/depend.internal
/CMakeFiles/rotary-controller-f4.elf.dir/depend.make
/CMakeFiles/rotary-controller-f4.elf.dir/DependInfo.cmake
/CMakeFiles/rotary-controller-f4.elf.dir/flags.make
/CMakeFiles/rotary-controller-f4.elf.dir/link.txt
/CMakeFiles/rotary-controller-f4.elf.dir/progress.make
/CMakeFiles/clion-environment.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/InstallScripts.json
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/CMakeFiles/progress.marks
/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/cache-v2-75ccddff1f9462878f34.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-efb40c770de9d5bf104a.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-1d0bfa3e0f2ca88c0356.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/index-2025-07-25T20-06-13-0400.json
/cmake-build-release/.cmake/api/v1/reply/target-rotary-controller-f4.elf-Release-23665a0d8e0985d66bdc.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-516567ce22d77594ccde.json
/cmake-build-release/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.31.6/CMakeASMCompiler.cmake
/cmake-build-release/CMakeFiles/3.31.6/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.31.6/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/ASM.includecache
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/build.make
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/cmake_clean.cmake
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/compiler_depend.make
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/compiler_depend.ts
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/depend.internal
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/depend.make
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/DependInfo.cmake
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/flags.make
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/link.txt
/cmake-build-release/CMakeFiles/rotary-controller-f4.elf.dir/progress.make
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-release/CMakeFiles/Makefile.cmake
/cmake-build-release/CMakeFiles/Makefile2
/cmake-build-release/CMakeFiles/progress.marks
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/Makefile
/cmake-build-release/rotary-controller-f4.bin
/.cmake/api/v1/query/cache-v2
/.cmake/api/v1/query/cmakeFiles-v1
/.cmake/api/v1/query/codemodel-v2
/.cmake/api/v1/query/toolchains-v1
/.cmake/api/v1/reply/cache-v2-f5e9ca3708de3f124d35.json
/.cmake/api/v1/reply/cmakeFiles-v1-281ea38263c07c7344ed.json
/.cmake/api/v1/reply/codemodel-v2-f943dd8c247e07984a15.json
/.cmake/api/v1/reply/directory-.-Release-9ad1a58d4644cf6543fa.json
/.cmake/api/v1/reply/index-2026-01-26T01-20-50-0476.json
/.cmake/api/v1/reply/target-rotary-controller-f4.elf-Release-abbd90adbbfbd406bb3c.json
/.cmake/api/v1/reply/toolchains-v1-516567ce22d77594ccde.json
