### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.idea
/cmake-build-debug/
/.settings/
/Debug/
/rotary-controller-f4.launch
/Release/Core/Src/freertos.cyclo
/Release/Core/Src/gpio.cyclo
/Release/Core/Src/main.cyclo
/Release/Core/Src/Modbus.cyclo
/Release/Core/Src/Ramps.cyclo
/Release/Core/Src/Scales.cyclo
/Release/Core/Src/stm32f4xx_hal_msp.cyclo
/Release/Core/Src/stm32f4xx_hal_timebase_tim.cyclo
/Release/Core/Src/stm32f4xx_it.cyclo
/Release/Core/Src/subdir.mk
/Release/Core/Src/syscalls.cyclo
/Release/Core/Src/sysmem.cyclo
/Release/Core/Src/system_stm32f4xx.cyclo
/Release/Core/Src/tim.cyclo
/Release/Core/Src/UARTCallback.cyclo
/Release/Core/Src/usart.cyclo
/Release/Core/Startup/subdir.mk
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.cyclo
/Release/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/cmsis_os2.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/port.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_4.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/croutine.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/event_groups.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/list.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/queue.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/stream_buffer.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/subdir.mk
/Release/Middlewares/Third_Party/FreeRTOS/Source/tasks.cyclo
/Release/Middlewares/Third_Party/FreeRTOS/Source/timers.cyclo
/Release/makefile
/Release/objects.list
/Release/objects.mk
/Release/rotary-controller-f4.list
/Release/sources.mk
